html {
    font-size: 62.5%;
    /* 👆 (default fnt size /10) * 100 hence it defines what 1 rem is*/

    @include respond(tab-land) { // width < 1200?
        font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    }

    @include respond(tab-port) { // width < 900?
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }

    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12, 12/16
    }
}

body {
  overflow-x: hidden !important;
  font-family: 'Source Sans Pro', sans-serif;
}

// background-image: linear-gradient(to right, rgba(19.61%, 7.84%, 7.84%, 1.00) 150px, rgba(27.45%, 13.73%, 13.73%, 0.84) 100%)
