.home-container {
  background-image: linear-gradient(rgba($color-primary, .75), rgba($color-primary-light, .65)), url('../../public/img/bg-3.jpg');
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 60vh !important;


  &__text {
    margin: 0 auto;
    width: 70%;
    padding: 4rem 1rem 2rem;

    h1 {
      @include customFont($font-sans, $color-white, 900);
      font-size: 3.5rem;
      letter-spacing: .5rem;
    }

    h3 {
      @include customFont($font-sans, $color-white, 900);
      font-size: 2.3rem;
      letter-spacing: .5rem;
    }
  }
}

.movie-info {
  margin-top: 5.5rem;
  &__img {
    width: -moz-available;
  }

  &__details {

  }
}
