.nav {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
  background-color: $color-primary;
  transition: all .5s ease-in-out;
  z-index: 1000;

  &-logo {
    margin-right: 2rem;

    h4 {
      @include customFont($font-sans, $color-green, 700);
      font-size: 1.8rem;

      @include respond(phone) {
        font-size: 1.2rem;
      }
    }

  }

  &-left {
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
      display: flex;
      justify-content: space-between;
      width: 15rem;
      transition: transform .5s ease-in-out;

      @include respond(tab-port) {
        position: absolute;
        left: 0;
        height: 92vh;
        top: 8vh;
        background-color: $color-primary;
        display: inline-block;
        text-align: center;
        padding: 3rem 0;
        // flex-direction: column;
        // justify-content: space-between;
        // align-items: center;
        // text-align: center;

        width: 60%;
        transform: translateX(-100%);


      }

      li {
        list-style: none;

        @include respond(tab-port) {
          margin: 3rem 0;
          opacity: 0;
        }
      }

      a {
        @include customFont($font-sans, $color-white, 700);
        text-decoration: none;
        font-size: 1rem;
      }
    }
  }

  &-burger {
    display: none;
    cursor: pointer;

    @include respond(tab-port) {
      display: block;
    }
    div {
      width: 2.5rem;
      height: 2.3px;
      background-color: $color-white;
      margin: 5px;
      transition: all .3s ease-in-out;
    }
  }

  &-active {
    transform: translateX(0%) !important;
  }


  &-search-box {
    background-color: $color-primary-light;
    height: 2.3rem;
    border-radius: 2.5rem;

    @include respond(tab-port) {
      height: 1.8rem;
      border-radius: 2rem;
    }
    // padding: .1rem 0 .1rem .8rem;
    // position: relative;
    @media(min-width: 1024px) {
      &:hover > .nav-search-box__text {
        width: 13rem;
        padding: 0 1rem;
      }
    }
    &__text {
      // position: absolute;
      border: none;
      background: none;
      outline: none;
      float: left;
      padding: 0;
      color: $color-white;
      // font-size: rem;
      transition: all .4s ease;
      line-height: 2.2rem;
      width: 0rem;

      @include respond(tab-port) {
        width: 7rem;
        line-height: 1.7rem;
        font-size: 0.8rem;
        margin-left: 8px;
      }
    }


    &__btn {
      color: $color-white;
      float: right;
      width: 2.3rem;
      height: 2.3rem;
      border-radius: 50%;
      background-color: $color-primary-light;
      display: flex;
      justify-content: center;
      align-items: center;

      @include respond(tab-port) {
        width: 1.2rem;
        height: 1.7rem;
        margin-right: 5px;
      }
    }
  }
}

.navRotate .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.navRotate .line2 {
  opacity: 0;
}

.navRotate .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
